*~
#*#
*.elc
*.eln
/semanticdb
/server
/elpa
/projectile.cache
/recentf
/image-dired
/.env.el
/custom.el
/tramp
/abbrev_defs
/url
/request
/straight/build-cache.el
/straight/build
/straight/modified
/straight/repos
/ac-comphist.dat
/projectile-bookmarks.eld
/.cask
/.lsp-session-v1
/.cache
/.mc-lists.el
/lsp-cache
/eln-cache


/.dap-breakpoints
