*~
#*#
*.elc
/.emacs.d/semanticdb
/.emacs.d/server
/.emacs.d/elpa
/.emacs.d/projectile.cache
/.emacs.d/recentf
/.emacs.d/image-dired
/.emacs.d/.env.el
/.emacs.d/custom.el
/.emacs.d/tramp
/.emacs.d/abbrev_defs
/.emacs.d/url
/.emacs.d/straight
