[submodule ".emacs.d/coffee-mode"]
	path = .emacs.d/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/haml-mode"]
	path = .emacs.d/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule ".emacs.d/rhtml"]
	path = .emacs.d/rhtml
	url = http://github.com/eschulte/rhtml.git
[submodule ".emacs.d/js2-mode"]
	path = .emacs.d/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule ".emacs.d/yaml-mode"]
	path = .emacs.d/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/foreign-regexp"]
	path = .emacs.d/foreign-regexp
	url = https://github.com/k-talo/foreign-regexp.el.git
[submodule ".emacs.d/rinari"]
	path = .emacs.d/rinari
	url = https://github.com/eschulte/rinari.git
[submodule ".emacs.d/web-mode"]
	path = .emacs.d/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule ".emacs.d/yasnippets-rails"]
	path = .emacs.d/yasnippets-rails
	url = https://github.com/eschulte/yasnippets-rails.git
[submodule ".emacs.d/yasnippet"]
	path = .emacs.d/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule ".emacs.d/rvm"]
	path = .emacs.d/rvm
	url = https://github.com/senny/rvm.el.git
[submodule ".emacs.d/auto-complete"]
	path = .emacs.d/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
