*~
#*#
*.elc
/.emacs.d/anything-c-adaptive-history
/.emacs.d/el-get-packages/
/.emacs.d/semanticdb
/.emacs.d/server
/.emacs.d/elpa
/.emacs.d/el-get-user/
/.emacs.d/el-get/.loaddefs.el
/.emacs.d/el-get/.status.el

