[submodule "rhtml"]
	path = rhtml
	url = http://github.com/eschulte/rhtml.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "haml-mode"]
	path = haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "rinari"]
	path = rinari
	url = https://github.com/eschulte/rinari.git
